.nav {
  height: 30px;
  line-height: 30px;
  background-color: #eee;
}

/* 用户部分 */
.nav .user-info {
  float: left;
}

.nav .user-info .link{
  margin-right: 5px;
}

.nav .user-info .user.login{ 
  display: none;
}

.nav .user-info .user.login .username{ 
  margin-right: 10px;
}

/* 导航链接菜单 */
.nav .nav-list {
  float: right;
}

.nav .nav-list .nav-item{
  display: inline-block;
  margin-left: 5px;
}