<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/header-common.html') %>
  <title>优米优购-最受欢迎的购买大米网站</title>
</head>

<body>
  <%= require('html-loader!./layout/warning.html')%>
  <%= require('html-loader!./layout/nav.html')%>
  <%= require('html-loader!./layout/header.html')%>
  <!-- 内容主体（上） -->
  <div class="w">
    <!-- 产品keywords -->
    <ul class="keywords-list">
      <li class="keywords-item">
        <a href="./list.html?keyword=金龙鱼" class="link" target="_blank">金龙鱼</a>
        <a href="./list.html?keyword=福临门" class="link" target="_blank">福临门</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=十月稻田">十月稻田</a>
        <a class="link" target="_blank" href="./list.html?keyword=柴火大院">柴火大院</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=五丰">五丰</a>
        <a class="link" target="_blank" href="./list.html?keyword=五常大米">五常大米</a>
        <a class="link" target="_blank" href="./list.html?keyword=太粮米业">太粮米业</a>
        <a class="link" target="_blank" href="./list.html?keyword=裕道府">裕道府</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=泰金香">泰金香</a>
        <a class="link" target="_blank" href="./list.html?keyword=香满园">香满园</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=北大荒">北大荒</a>
        <a class="link" target="_blank" href="./list.html?keyword=崇明岛">崇明岛</a>
        <a class="link" target="_blank" href="./list.html?keyword=稻可道">稻可道</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=香纳兰">香纳兰</a>
        <a class="link" target="_blank" href="./list.html?keyword=王家粮仓">王家粮仓</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=万年贡">万年贡</a>
        <a class="link" target="_blank" href="./list.html?keyword=五湖">五湖</a>
        <a class="link" target="_blank" href="./list.html?keyword=米老板">米老板</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=君稻">君稻</a>
        <a class="link" target="_blank" href="./list.html?keyword=盘珠">盘珠</a>
        <a class="link" target="_blank" href="./list.html?keyword=京和">京和</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=奕米阳光">奕米阳光</a>
        <a class="link" target="_blank" href="./list.html?keyword=袁米">袁米</a>
        <a class="link" target="_blank" href="./list.html?keyword=爱心农场">爱心农场</a>
      </li>
      <li class="keywords-item">
        <a class="link" target="_blank" href="./list.html?keyword=品冠膳食">品冠膳食</a>
        <a class="link" target="_blank" href="./list.html?keyword=天禹">天禹</a>
        <a class="link" target="_blank" href="./list.html?keyword=电子书">老翁育稻</a>
      </li>
    </ul>
    <!-- 轮播图 -->
    <div class="banner-con">
      <div class="loading"></div>
    </div>
    <!-- 两个广告 -->
    <div class="slogan-con">
      <a class="slogan-item" href="">
        <img class="s-img" src="<%= require('../image/slogan/slogan03.jpg') %>" alt="广告1">
      </a>
      <a class="slogan-item" href="">
        <img class="s-img" src="<%= require('../image/slogan/slogan04.jpg') %>" alt="广告2">
      </a>
    </div>
  </div>
  <!-- 内容主体（下） -->
  <div class="w">
    <!-- 本月特价 -->
    <div class="fast-buy">
      <div class="fast-title">
        <p class="fast-text">本月特价</p>
        <i class="fa fa-bolt"></i>
        <p class="fast-time">截止日期：2020-05-31</p>
      </div>
      <ul class="fast-list">
        <li class="fast-item">
          <img class="f-img" src="//img14.360buyimg.com/n7/jfs/t19219/175/330710249/336371/2b2097/5a6c49c6Na57a11d5.jpg"
            alt="">
          <a class="link" href="">金龙鱼生态基地原香稻</a>
          <div class="f-price">
            <span class="p-start">￥75.9</span>
            <span class="p-end">￥77.9</span>
          </div>
        </li>
        <li class="fast-item">
          <img class="f-img"
            src="//img12.360buyimg.com/n7/jfs/t1/86823/31/18502/193575/5e93d18eE9a11865b/9887b08860f02342.jpg" alt="">
          <a class="link" href="">福临门一品茉莉香米10kg</a>
          <div class="f-price">
            <span class="p-start">￥55.9</span>
            <span class="p-end">￥60.9</span>
          </div>
        </li>
        <li class="fast-item">
          <img class="f-img"
            src="//img10.360buyimg.com/n7/jfs/t1/85309/21/9947/375361/5e1416d7E6a452a87/44fa7ba1570712f6.jpg" alt="">
          <a class="link" href="">福临门 稻花香 五常大米5KG</a>
          <div class="f-price">
            <span class="p-start">￥92.9</span>
            <span class="p-end">￥99.9</span>
          </div>
        </li>
        <li class="fast-item">
          <img class="f-img"
            src="//img12.360buyimg.com/n7/jfs/t1/88920/21/17210/104861/5e8466e0E97ee00e3/1f76d7a8e4f93d52.jpg" alt="">
          <a class="link" href="">十月稻田 长粒香大米5kg</a>
          <div class="f-price">
            <span class="p-start">￥99</span>
            <span class="p-end">￥135</span>
          </div>
        </li>
        <li class="fast-item">
          <img class="f-img"
            src="//img13.360buyimg.com/n7/jfs/t1/102489/30/1433/280644/5dbfd999Eba2742e7/e0dc5bd8c5e4699e.jpg" alt="">
          <a class="link" href="">五常乔府大院乔小美龙凤山稻</a>
          <div class="f-price">
            <span class="p-start">￥88.00</span>
            <span class="p-end">￥99.00</span>
          </div>
        </li>
      </ul>
    </div>
    <!-- 优质商家、品牌闪购 -->
    <div class="bus-brand-con">
      <!-- 优质商家 -->
      <div class="bus-con">
        <div class="bus-brand-title">
          <h1>优质商家</h1>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </div>
        <div class="bus-list">
          <div class="bus-item-first">
            <p class="b-logo">优选商家</p>
            <a href="">
              <img class="b-img" src="<%= require('../image/business/bus01.png') %>" alt="">
            </a>
            <a class="link b-title">农博汇生态农品有限公司</a>
            <p class="link-text">辽宁省沈阳市大东区</p>
            <div class="b-price-con">
              <span class="link-text">店铺评分：</span><span class="price-now">4.9</span>
            </div>
            <p class="b-text">热卖中</p>
          </div>
          <div class="bus-item-others">
            <div class="other">
              <div class="img-con">
                <a href="">
                  <img class="o-img" src="<%= require('../image/business/bus02.png') %>" alt="">
                </a>
                <p class="o-img-flg">实人认证</p>
              </div>
              <div class="desc-con">
                <a href="" class="link o-title">临潼区俊标种植园</a>
                <p class="link-text">广西壮族自治区崇左市凭祥市</p>
                <span>评分：</span><span class="o-price">4.9</span>
              </div>
            </div>
            <div class="other">
              <div class="img-con">
                <a href="">
                  <img class="o-img" src="<%= require('../image/business/bus03.png') %>" alt="">
                </a>
                <p class="o-img-flg">实人认证</p>
              </div>
              <div class="desc-con">
                <a href="" class="link o-title">白圩镇越光精米厂</a>
                <p class="link-text">广西壮族自治区南宁市上林县</p>
                <span>评分：</span><span class="o-price">4.9</span>
              </div>
            </div>
            <div class="other">
              <div class="img-con">
                <a href="">
                  <img class="o-img" src="<%= require('../image/business/bus04.jpg') %>" alt="">
                </a>
                <p class="o-img-flg">实人认证</p>
              </div>
              <div class="desc-con">
                <a href="" class="link o-title">美瑄商贸有限公司</a>
                <p class="link-text">吉林省松原市前郭尔罗斯蒙古族</p>
                <span>评分：</span><span class="o-price">4.9</span>
              </div>
            </div>
            <div class="other">
              <div class="img-con">
                <a href="">
                  <img class="o-img" src="<%= require('../image/business/bus05.png') %>" alt="">
                </a>
                <p class="o-img-flg">实人认证</p>
              </div>
              <div class="desc-con">
                <a href="" class="link o-title">吉粮经贸有限公司</a>
                <p class="link-text">黑龙江省哈尔滨市香坊区</p>
                <span>评分：</span><span class="o-price">4.9</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- 品牌闪购 -->
      <div class="brand-con">
        <div class="bus-brand-title">
          <h1>品牌闪购</h1>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </div>
        <div class="brand-list">
          <div class="brand-item-first">
            <a href="">
              <img class="first-img" src="<%= require('../image/brand/brand-main.jpg') %>" alt="">
            </a>
          </div>
          <div class="brand-item-others">
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand01.jpg') %>" alt="">
              </a>
              <a href="" class="link">金龙鱼</a>
            </div>
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand02.jpg') %>" alt="">
              </a>
              <a href="" class="link">十月稻田</a>
            </div>
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand03.jpg') %>" alt="">
              </a>
              <a href="" class="link">福临门</a>
            </div>
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand04.jpg') %>" alt="">
              </a>
              <a href="" class="link">柴火大院</a>
            </div>
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand05.jpg') %>" alt="">
              </a>
              <a href="" class="link">五丰米业</a>
            </div>
            <div class="other">
              <a href="" class="">
                <img src="<%= require('../image/brand/brand06.jpg') %>" alt="">
              </a>
              <a href="" class="link">五常大米</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 楼层F1 袋装-->
    <div class="floor-wrap">
      <h1 class="floor-title">
        F1 袋装
        <span class="more">更多>></span>
      </h1>
      <ul class="floor-list">
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img10.360buyimg.com/n7/jfs/t1/118134/22/4059/108700/5eab7716Ec1404abf/1670c4b50d3f7593.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">【2件5折】裕道府 五常有机大米 稻花香米2.5kg 2019年新米黑龙江五常大米5斤</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img13.360buyimg.com/n7/jfs/t1/102740/26/17328/112778/5e846725Eab8ba7c0/aa614470dd477ac9.jpg"
              alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">十月稻田 长粒香 东北香米 10kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/99716/8/13207/278663/5e548939E3c756523/794047e9ef3c7284.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">金龙鱼 东北 蟹稻共生 盘锦 10kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/78903/36/14110/190503/5db69967E1e450c7d/6cf26fcf2b9349de.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">小町好米，寿司用米，东北大米，部分产品低至5折详情猛戳</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t1/15212/17/3283/252217/5c25fc28Edf10f786/9a5a27da38c54483.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">裕道府 五常稻花香 东北大米 5kg</a>
        </li>
      </ul>
    </div>
    <!-- 楼层F2 组合装 -->
    <div class="floor-wrap">
      <h1 class="floor-title">
        F2 组合装
        <span class="more">更多>></span>
      </h1>
      <ul class="floor-list">
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t1/88519/10/9476/448254/5e0dbdfaEd59f8887/0db9c954debf4d16.jpg" alt="">
          </a>
          <p class="floor-price">￥99.00</p>
          <a class="link h-limit" href="">十月稻田 长粒香 东北 整箱装 10kg 企业福利团购(500g*20袋)</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/115896/26/437/83337/5e8c3addE9ad053d4/cd090eac12d74727.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">2019新米上市 秋然长粒香10kg（5kg*2袋）东北 大米 粳米现磨现发黑龙江方正</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/106800/27/13181/200293/5e55c529Eca5c58a7/da172b96f90c769b.jpg"
              alt="">
          </a>
          <p class="floor-price">￥388.0</p>
          <a class="link h-limit" href="">壹生粮 五常生态香米 5kg*4袋 整箱装 真空包装 东北五常</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/100870/18/18502/169613/5e956b78E323e34a1/8101237b99b82e30.jpg"
              alt="">
          </a>
          <p class="floor-price">￥142.0</p>
          <a class="link h-limit" href="">新米小包装 新疆 察布查尔粳米伊犁稻花香好</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img10.360buyimg.com/n7/jfs/t1/55124/28/7978/514271/5d57a7dfEfff87ef4/81b53b24cb7fe7bc.png" alt="">
          </a>
          <p class="floor-price">￥69.0</p>
          <a class="link h-limit" href="">粮伯伯 五常 稻花香 500g*7东北 新米黑龙江自产稻花香米小包装2019新米</a>
        </li>
      </ul>
    </div>
    <!-- 楼层F3 礼盒装 -->
    <div class="floor-wrap">
      <h1 class="floor-title">
        F3 礼盒装
        <span class="more">更多>></span>
      </h1>
      <ul class="floor-list">
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img10.360buyimg.com/n7/jfs/t1/43003/24/15570/117492/5d849506E824886f2/086f95be89e345f2.jpg" alt="">
          </a>
          <p class="floor-price">￥205.9</p>
          <a class="link h-limit" href="">月幸 五常有机稻花香2号 东北 2019新米优质高端 礼盒孝敬父母年货送礼体面 5KG</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/83538/8/6495/422184/5d47e674Ecfd8f1ea/2ed56a8a2e620882.jpg" alt="">
          </a>
          <p class="floor-price">￥109.0</p>
          <a class="link h-limit" href="">恒大兴安 绿色 正宗东北 稻花香5KG</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/114864/11/1855/395579/5e9cf697E47d8718b/a9a15915df2052a8.jpg" alt="">
          </a>
          <p class="floor-price">￥258.0</p>
          <a class="link h-limit" href="">乔府大院 五常 政府溯源 有机稻花香 礼尚金砖礼盒 东北5kg（年货礼盒 企业团购福利 ）</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img13.360buyimg.com/n7/jfs/t1/112300/21/1159/350066/5e953db3Ef472da0b/27f4eb55b4bf6095.jpg" alt="">
          </a>
          <p class="floor-price">￥199.9</p>
          <a class="link h-limit" href="">溯源防伪保真 绿色种植稻花香 东北 充氮保鲜 300G*6罐装礼盒京东联名款</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t1/114156/10/3665/80425/5ea92ffeE46625983/60eb6f638f3d06e1.jpg" alt="">
          </a>
          <p class="floor-price">￥188.0</p>
          <a class="link h-limit" href="">【2019新米上市】北粮农五常 东北稻花香米正宗五优稻4号优质 真空包装礼盒包装 5kg</a>
        </li>
      </ul>
    </div>
    <!-- 楼层F4 普通装-->
    <div class="floor-wrap">
      <h1 class="floor-title">
        F4 普通装
        <span class="more">更多>></span>
      </h1>
      <ul class="floor-list">
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/116301/7/1001/156585/5e93d125Ef65a0c38/8539be08f34de597.jpg" alt="">
          </a>
          <p class="floor-price">￥59.9</p>
          <a class="link h-limit" href="">福临门 盘锦 东北 粳米 中粮出品 5kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t1/94709/31/9112/116089/5e0ab4d0E9e3ba972/1762a36204ba97c5.jpg" alt="">
          </a>
          <p class="floor-price">￥27.9</p>
          <a class="link h-limit" href="">稻可道 东北珍珠米 东北 粳米5kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t23017/220/2125121739/271371/4d39e8d/5b754315N1939a5d4.jpg" alt="">
          </a>
          <p class="floor-price">￥26.8</p>
          <a class="link h-limit" href="">森王晶珍 东北 黑龙江特产 粳米 kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img12.360buyimg.com/n7/jfs/t5161/85/1636276207/239014/cff84f42/59128639Nd5f2f79a.jpg" alt="">
          </a>
          <p class="floor-price">￥108.0</p>
          <a class="link h-limit" href="">裕道府 五常稻花香 东北 10kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/95166/7/11390/125126/5e34e912Eac0bdfa0/b382121e9fc210ce.jpg" alt="">
          </a>
          <p class="floor-price">￥79.9</p>
          <a class="link h-limit" href="">【2件5折】裕道府 东北有机大米5kg 2019年新米</a>
        </li>
      </ul>
    </div>
    <!-- 楼层F5 盒装-->
    <div class="floor-wrap">
      <h1 class="floor-title">
        F5 盒装
        <span class="more">更多>></span>
      </h1>
      <ul class="floor-list">
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/110719/18/1014/461747/5e745bd3E64d4556b/d3919befca55b446.jpg" alt="">
          </a>
          <p class="floor-price">￥59.9</p>
          <a class="link h-limit" href="">自然农法 五常 稻花香 东北 长粒米 寒云秋稼 5kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img14.360buyimg.com/n7/jfs/t1/111848/23/66/148867/5e86b9c7E5878842b/c2dad1adb8da23f2.jpg" alt="">
          </a>
          <p class="floor-price">￥132.0</p>
          <a class="link h-limit" href="">【买1送1】月幸 五常有机稻花香2号 儿童粥米煮粥 营养小罐独立包装东北有机稻花香粥米 12罐装</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img13.360buyimg.com/n7/jfs/t1/93279/26/7549/293425/5dfc98f5E1e83a654/f31ce41b6ada6f5e.jpg" alt="">
          </a>
          <p class="floor-price">￥268.0</p>
          <a class="link h-limit" href="">五常大米官方自营旗舰店 溯源防伪保真 聖上壹品 有机稻花香东北大米5KG春节年货礼盒礼品企业福利团购</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img13.360buyimg.com/n7/jfs/t1/85661/37/947/240589/5db695d4E2126a8e3/efd3731336df3edf.jpg" alt="">
          </a>
          <p class="floor-price">￥109.0</p>
          <a class="link h-limit" href="">福临门 五常 有机五常稻花香 东北 粳米 中粮出品 2kg</a>
        </li>
        <li class="floor-item">
          <a href="./list.html?categoryId=100006">
            <img class="floor-img"
              src="//img11.360buyimg.com/n7/jfs/t1/102732/20/11415/492574/5e3595c7Ea4b8956a/2cb4ba42c266bbc1.jpg"
              alt="">
          </a>
          <p class="floor-price">￥139.0</p>
          <a class="link h-limit" href="">阿娣 五御常香 五常 东北香米 5kg</a>
        </li>
      </ul>
    </div>
  </div>
  <%= require('html-loader!./layout/footer.html')%>
</body>

</html>