<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/header-common.html') %>
  <title><%= htmlWebpackPlugin.options.title%>-Yaoerba电商平台</title>
</head>

<body>
  <%= require('html-loader!./layout/nav.html')%>
  <%= require('html-loader!./layout/header.html')%>
  <!-- 面包屑导航 -->
  <div class="crumb">
    <div class="w">
      <div class="crumb-con">
        <a href="./index.html" class="link">首页</a>
        <span>&gt;</span>
        <span class="link-text">
          <%= htmlWebpackPlugin.options.title%>
        </span>
      </div>
    </div>
  </div>
  <!-- 内容主体 -->
  <div class="page-wrap w">
    <!-- 侧边栏 -->
    <%= require('html-loader!./layout/nav-side.html')%>
    <!-- 右侧内容区域 -->
    <div class="content with-nav">
      <div class="pannel">
        <!-- 右侧标题 -->
        <div class="pannel-title"><%= htmlWebpackPlugin.options.title%></div>
        <!-- 订单容器 -->
        <div class="pannel-body">
          <div class="order-list-con">
            
          </div>
          <!-- 分页 -->
          <div class="pagination"></div>
        </div>
      </div>
    </div>
  </div>
  <%= require('html-loader!./layout/footer.html')%>
</body>

</html>