.header .logo {
  position: absolute;
  left: 50px;
  top: 34px;
  display: block;
  font-size: 36px;
  color: #4aca6d;
  font-weight: bold;
}

.header .search-con {
  padding: 40px 0 40px 250px;
}

.header .search-con .search-input {
  width: 550px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border: 2px solid #4aca6d;
  font-size: 15px;
  outline: none;
}

.header .search-con .search-btn{  
  position: absolute;
  height: 44px;
  width: 80px;
}

/* 面包屑导航 */
.crumb{
  margin-bottom:15px;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  font-size: 14px;
  color:#888;
  border-top: 2px solid #4aca6d;
}

/* 关键词 */
.keywords-con{
  position: absolute;
  left:250px;
  bottom: 10px;
}

.keywords-con .keywords-text{
  font-size: 14px;
  margin-right: 10px;
}