<div class="header">
  <div class="w">
    <a class="logo" href="./index.html">优米优购</a>
    <div class="search-con">
      <input type="text" class="search-input" id="search-input" placeholder="请输入商品名称">
      <button class="btn search-btn" id="search-btn">搜索</button>
    </div>
    <div class="keywords-con">
      <a href="./list.html?keyword=五常大米" class="link keywords-text">五常大米</a>
      <a href="./list.html?keyword=稻花香" class="link keywords-text">稻花香</a>
      <a href="./list.html?keyword=哈尔滨大米" class="link keywords-text">哈尔滨大米</a>
      <a href="./list.html?keyword=齐齐哈尔大米" class="link keywords-text">齐齐哈尔大米</a>
      <a href="./list.html?keyword=香米" class="link keywords-text">香米</a>
      <a href="./list.html?keyword=糯米" class="link keywords-text">糯米</a>
    </div>
  </div>
</div>