<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="x-dns-prefetch-control" content="on">
<!-- SEO -->
<meta name="keywords" content="Yaoerba,yaoerba,Yaoerba电商,网上购物,网上商城,大米,东北大米,稻花香">
<meta name="desciption" content="一个提供东北大米、东北高粱米、东北纯正稻花香等数万种优质大米，最优质的、最便捷的网上购物平台">
<!-- DNS域名解析预加载 -->
<link rel="dns-prefetch" href="https://cdn.bootcss.com">
<link rel="dns-prefetch" href="http://s.yaoerba.com">
<link rel="dns-prefetch" href="http://img.yaoerba.com">
<!-- 访问监控（第三方） -->
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?30bb28db07c47305b83521de5f65737c";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>